<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="icon" href="api.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="401.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato"/>
</head>
<body>
<div class="page-wrap">
    <h1>401</h1>
    <h2>unauthorized</h2>
    <p>Sorry ...!!! You cant access this page</p>
    <p><a href="/">home</a></p>
</div>
</body>
</html>